{
    "extends": "nicjansma",
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "rules": {
        //
        // Disabled
        //

        // disabled for use of _jQuery
        "no-underscore-dangle": 0,
        "no-prototype-builtins": 0,
        "no-control-regex": 0
    }
}
